<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="description" content="A complete landing page solution for any business">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Exclusive Admin | Responsive Admin Theme</title>
     
      <!-- Favicon -->
      <%= favicon_link_tag 'favicons.ico' %>
     
      <%= csrf_meta_tags %>

      <!-- Main Css -->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      <!-- Inline Graph Css -->
      <%= stylesheet_link_tag    'chart_view', 'data-turbolinks-track': 'reload' %>
   </head>
   <body class="light-skin fixed-navbar sidebar-scroll">

      <!-- Menu Partials -->
      <%= render 'layouts/navigation' %>
   
      <!-- Menu Partials -->
      <%= render 'layouts/sidebar' %>
      
      <%= yield %>
   
      <!-- Footer Partials -->
      <%= render 'layouts/footer' %> 

      <!-- Main Js -->
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- Inline Graph  Js -->
      <%= javascript_include_tag 'chart_view', 'data-turbolinks-track': 'reload' %>

      <!-- Custom JavaScript For Inline Chart Page -->
      <script>$(function(){$("#sparkline7").sparkline([34,43,43,35,44,32,44,52,25],{type:"line",lineColor:"#54ab2c",fillColor:"#C97CE5",});$("#sparkline2").sparkline([5,6,7,2,0,-4,-2,4],{type:"bar",barColor:"#C97CE5",negBarColor:"#c6c6c6"});$("#sparkline3").sparkline([1,1,2],{type:"pie",sliceColors:["#C97CE5","#b3b3b3","#e4f0fb"]});$("#sparkline4").sparkline([34,43,43,35,44,32,15,22,46,33,86,54,73,53,12,53,23,65,23,63,53,42,34,56,76,15,54,23,44],{type:"line",lineColor:"#C97CE5",fillColor:"#ffffff",});$("#sparkline5").sparkline([1,1,0,1,-1,-1,1,-1,0,0,1,1],{type:"tristate",posBarColor:"#C97CE5",negBarColor:"#bfbfbf"});$("#sparkline6").sparkline([4,6,7,7,4,3,2,1,4,4,5,6,3,4,5,8,7,6,9,3,2,4,1,5,6,4,3,7,],{type:"discrete",lineColor:"#C97CE5"})});</script>
      
    </body>
</html>